@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap);

body {
    background-color: hsl(212, 45%, 89%);
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 340px; 
    height: 530px;
    border-radius: 20px;
    padding: 20px; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.card img {
    border-radius: 15px;
    width: 100%;  
    height: auto;
    margin-top: -195px;
}

texto1 {
    color: hsl(218, 44%, 22%);
    font-size: 25px;
    font-family: Outfit;
    font-weight: 700;
    font-display: swap;
    margin-top: 350px;
    position: absolute;  
    flex-direction: column; 
    justify-content: center;
    top: 30px;
    right: 1rem;
    left: 2rem;
}

texto2 {
    color: hsl(220, 15%, 55%);
    font-size: 16px;
    font-family: Outfit;
    font-weight: 400;
    font-display: swap;
    margin-top: 450px;
    position: absolute;
    flex-direction: column; 
    justify-content: center;
    top: 20px;
    right: 3rem;
    left: 3.3rem;
}

.attribution {
    color: hsl(220, 15%, 55%);
    background-color: hsl(218, 44%, 22%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px; 
    text-align: center; 
    text-decoration: none;
    font-family: Outfit;
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 90%;
    }
}